# Editor config directories
.cm
.idea
.vscode
.vs

# Generated
mlpolyr.grm.desc
mlpolyr.grm.sig
mlpolyr.grm.sml
mlpolyr.lex.sml
mlpolyr.x86-linux
util/ml-lex/ml-lex

# misc
check
ML_State

# Binaries
*.o
*.exe
*.dll
*.so
*.dylib
